html, body {
  background-color: #263238;
}

::shadow img {
  width: 100% !important;
}

.editor-preview-side img {
  max-width: 100% !important;
}

.demo-content h1 {
  font-size: 40px;
}

.demo-content h2 {
  font-size: 35px;
  line-height: 38px;
}

.demo-content h3 {
  font-size: 25px;
  line-height: 30px;
}

.CodeMirror .CodeMirror-code .cm-header {
  color: #32969B;
}

.CodeMirror .CodeMirror-code .cm-tag {
  color: #8aa76d;
}

.CodeMirror .CodeMirror-code .cm-attribute {
  color: #9a4355;
}

.CodeMirror .CodeMirror-code .cm-string {
  color: #609593;
}

.demo-content .editor-toolbar {
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: #1F292E;
  opacity: 1;
}

.demo-content .CodeMirror {
  border: none;
  background-color: #263238;
  border-radius: 0;
  height: calc(100vh - 50px);
  color: #ccc;
}

.demo-content .CodeMirror-cursor {
  border-left: 2px solid #FFCC03;
}

.demo-content .CodeMirror .CodeMirror-selected {
  background: #131A1D;
}

.demo-content .editor-toolbar i.separator {
  border-left: 1px solid #263238;
  border-right: 1px solid #263238;
}

.demo-content .editor-toolbar a.active, .editor-toolbar a:hover {
  background: #FFCC03;
  border-color: #263238;
}

.demo-content .editor-statusbar {
  padding: 8px 10px;
  font-size: 12px;
  color: #3E556B;
  text-align: right;
  background-color: #263238;
}

.demo-content .editor-toolbar.fullscreen::before, .editor-toolbar.fullscreen::after {
  background: none;
}

.demo-content {
  font-family: 'Roboto', sans-serif;
}

.demo-content .editor-preview, .editor-preview-side {
  padding: 10px 5%;
}

.demo-content a {
  color: #578685;
  font-weight: 800;
  text-decoration: none;
}

.demo-content a:hover {
  color: #578685;
  font-weight: 800;
  text-decoration: underline;
}

.demo-content .CodeMirror .CodeMirror-code .cm-comment {
  color: #8CA96F;
}

.demo-content span.cm-quote.cm-quote-1 {
  color: #9E4456;
}

.demo-content .CodeMirror .CodeMirror-code .cm-link {
  color: #609593;
}

.demo-content .editor-preview-side {
  width: 50%;
}

.demo-content blockquote:after {
  float: right;
  margin-top: -40px;
}

.demo-content .mdl-snackbar {
  background-color: #FFCC03;
  left: 35%;
}

.demo-content .mdl-snackbar__action, .demo-content .mdl-snackbar__text {
  color: #1F292E;
}

.editor-preview-side blockquote p {
  padding-left: 7px;
  color: #777;
  border-left: 2px solid #777;
}

.editor-preview-side blockquote:before, .editor-preview-side blockquote:after {
  display: none;
}

.editor-preview-side pre {
  padding: 5px;
  border-radius: 4px;
}

.editor-preview-side blockquote {
  margin: 15px;
}

.demo-content .cm-header, .demo-content .cm-strong {
  font-weight: 400;
}

.demo-content span.cm-strong {
  color: #EDBE66;
}

.demo-contnet span.cm-em {
  color: #C390E6;
}

.editor-preview-side div.image {
  background-color: #263238;
  min-height: 200px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editor-preview-side div.image i {
  color: white;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.7;
  text-align: center;
}

#more_vert:hover {
  color: #263238;
  background-color: #263238;
}

#demo-menu-lower-right {
  float: right;
}

ul li.mdl-menu__item i {
  float: right;
  font-size: 22px;
  line-height: 48px;
}

.demo-content .mdl-textfield--expandable {
  color: white;
}

.demo-content .mdl-textfield__expandable-holder {
  margin-bottom: 10px;
}

.demo-content .mdl-textfield {
  padding: 7px 0;
}

.demo-content .mdl-textfield .mdl-button {
  position: absolute;
  bottom: 20px;
}

.demo-content .mdl-textfield__label:after {
  background-color: #FFCC03;
}

.demo-content .mdl-textfield__input {
  /*padding-bottom: 10px;*/
  outline: none;
}

button.mdl-button--colored {
  background-color: #558382 !important;
}

span.highlight-search {
  background-color: #FFCC03;
}

.mdl-dialog {
  border-radius: 2px;
}

.demo-content .editor-toolbar a {
  color: #45596d !important;
}

/* Let's get this party started */
::-webkit-scrollbar { 
  width: 8px;
  height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 10px;
  background: #222D32; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #222D32; 
}
